<launch>
    <node pkg="base_controller" name="joystick_teleop" type="joystick_teleop"/>
    <param name="axis_linear"  	value="1" type="int"/>
    <param name="axis_angular" 	value="3" type="int"/>
    <param name="button_a"				value="0" type="int"/>
    <param name="button_b"				value="1" type="int"/>
    <param name="button_x"				value="2" type="int"/>
    <param name="button_y"				value="3" type="int"/>
    <param name="left_bumper"			value="4" type="int"/>
    <param name="right_bumper"			value="5" type="int"/>
    <param name="back_button"			value="6" type="int"/>
    <param name="start_button"			value="7" type="int"/>
    <param name="power_button"			value="8" type="int"/>
    <param name="button_stick_left"		value="9" type="int"/>
    <param name="button_stick_right"	value="10" type="int"/>
    
    <param name="left_trigger"			value="2" type="int"/>
    <param name="right_trigger"			value="5" type="int"/>
    <param name="dpad_leftright"		value="6" type="int"/>
    <param name="dpad_updown"			value="7" type="int"/>


    <node respawn="true" pkg="joy" type="joy_node" name="teleopJoy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

</launch>
