<launch>

  <node pkg="line_detection" name="hsv_filter" type="hsv_filter.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/stereo_camera/left/image_raw/compressed" />
    <param name="use_roi" type="bool" value="True" />
    <remap from="/camera/image_raw/compressed" to="/stereo_camera/left/image_raw/compressed"/>
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>

  <node pkg="line_detection" name="threshold_stereo_left" type="threshold.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/hsv_filter/line_image/compressed" />
    <param name="use_roi" type="bool" value="True" />
    <remap from="/camera/image_raw/compressed" to="/hsv_filter/line_image/compressed"/>
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>

  <node pkg="line_detection" name="blur" type="blur.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/threshold/line_image/compressed" />
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>
<!--
  <node pkg="line_detection" name="brightest_pixel" type="brightest-pixel.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/blur/line_image/compressed" />
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>
-->
  <node pkg="line_detection" name="erode" type="erode.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/blur/line_image/compressed" />
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>


    <include file="$(find line_detection)/launch/pointcloud_publisher.launch">
      <param name="subscriber_image_topic" type="str" value="/erode/line_image/compressed" />
      <arg name="npy_path" value="/misc/training_images/pixel_coordinates.npy"/>
      <remap from="/threshold/line_image/compressed" to="erode/line_image/compressed"/>
  </include>

 <node pkg="line_detection" name="dilate" type="dilate.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/erode/line_image/compressed" />
    <param name="publisher_image_topic" type="str" value="/line_image/compressed" />
  </node>


</launch>
