<launch>

  <node pkg="line_detection" name="pixel_to_coordinate_calculator" type="pixel_to_coordinate_calculator.py" output="screen">
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>



  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_tf" args="0 0 0 -1.570796 0 -1.570796 camera camera_optical" />
    
  <!-- TODO set these actual transform values based on real robot!!! -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 base_footprint base_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_tf" args="0 0 1.0 0 0.78539816339 0 base_link camera" />

</launch>