<?xml version="1.0"?>
<launch>
    <!-- If you're having problems try changing the number at the very end.
            see http://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick -->
    <param name="joy_node/dev" value="/dev/input/js1" />
    <!-- You may need different params if you're using a different controller.
            see http://wiki.ros.org/joy#Application -->
    <group ns="teleopJoy">
        <param name="axis_linear" value=0 />
        <param name="axis_angular" value=1 />
        <param name="button_a" value=0 />
        <param name="button_b" value=1 />
        <param name="button_x" value=2 />
        <param name="button_y" value=3 />
        <param name="left_bumper" value=4 />
        <param name="right_bumper" value=5 />
        <param name="back_button" value=6 />
        <param name="start_button" value=7 />
        <param name="power_button" value=8 />
        <param name="button_stick_left" value=9 />
        <param name="button_stick_right" value=10 />
        <param name="left_trigger" value=0 />
        <param name="right_trigger" value=0 />
        <param name="dpad_leftright" value=0 />
        <param name="dpad_updown" value=0 />

