base_controller/doc/*
base_controller/doc/html/*

simulation/grass/meshes/images/
simulation/scipio_simulation/meshes/


*/.DS_Store
*/._.DS_Store

./CMakeLists.txt

*.log
*.rviz

*.tar
*.tar.gz

*.swp
**/core.*

logs/*
sick_tim3xx/build/*
sick_tim3xx/bin/*
simulation/build/*
roboteq_node/src/roboteqCom/roboteqCom
roboteq_node/src/roboteqDbg/roboteqDbg
line_detection/calibration_data/calibrationdata/left*
sick_tim3xx/cfg/SickTim3xx.cfgc
gazebo_config/build/*
gazebo_config/lib/*
*.o
*.orig
*.jpeg
*.jpg
*.png
/CMakeLists.txt
