<launch>

	<node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_driver">
	</node>

	<node pkg="gps_common" type="utm_odometry_node" name="gps_utm" respawn="true">
		<remap from="vo" to="gps/utm"/>
		<param name="frame_id" value="utm"/>
	</node>

        <node pkg="odom" name="odom" type="odom"/>

</launch>

