<launch>
  <master auto="start"/>

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">

    <remap from="/odom" to="/odometry/filtered" />

    <param name="controller_frequency" value="10.0"/>
    <rosparam file="$(find scipio_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find scipio_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find scipio_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find scipio_2dnav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find scipio_2dnav)/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
