<launch>
	<include file="$(find scipio_2dnav)/gps.launch" />
	<include file="$(find microstrain_3dmgx2_imu)/microstrain_3dmgx2.launch" />
	<include file="$(find robot_pose_ekf)/krystian.launch" />
	<include file="$(find scipio_2dnav)/scipio_config.launch" />
	<include file="$(find scipio_2dnav)/move_base.launch" />
 
</launch>



