<launch>

    <include file="$(find base_controller)/start.launch" />

    <node pkg="odom" type="odom" name="odom" output="screen"/>

    <node pkg="robot_setup_tf" type="robot_tf_publisher" name="robot_tf_publisher"/>

    <node pkg="roboteq_node" type="roboteq_node" name="roboteq_node"/>

</launch>
