<?xml version="1.0"?>
<launch>

<!--   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find scipio_simulation)/worlds/igvc_final.world"/>
  </include>

  <node name="robot_tf_publisher" pkg="robot_setup_tf" type="robot_tf_publisher" -->/>

  <node name="pcl_ground_filter" pkg="pcl_ground_filter" type="pcl_ground_filter" args="-use_sim_time true">
    <!-- <arg name="use_sim_time" value="true"/> -->
  </node>

<!--   <param name="robot_description" textfile="$(find scipio_simulation)/sdf/scipio_simulation.sdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-sdf -param robot_description -model scipio_simulation"
    output="screen">
  </node>

  <include file="$(find gazebo_config)/gps.launch"/>
  <include file="$(find gazebo_config)/gazeboekf.launch"/> -->
</launch>