<launch>

  <node pkg="line_detection" name="backproject" type="backproject.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/camera/image_raw/compressed" />
    <param name="publisher_image_topic" type="str" value="/line_image/compressed" />
  </node>

  <node pkg="line_detection" name="brightest_pixel" type="brightest-pixel.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/backproject/line_image/compressed" />
    <param name="publisher_image_topic" type="str" value="/line_image/compressed" />
  </node>

  <node pkg="line_detection" name="dilate" type="dilate.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/brightest_pixel/line_image/compressed" />
    <param name="publisher_image_topic" type="str" value="/line_image/compressed" />
  </node>

  <node pkg="line_detection" name="lswms_lanedetection" type="lswms" output="screen">
    <param name="~image_transport" value="compressed" />
    <remap from="/lswms_lanedetection/subscriber/compressed" to="dilate/line_image/compressed"/>
  </node>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />
  
</launch>