<launch>

  <node pkg="line_detection" name="backproject" type="backproject.py" output="screen">
    
    <param name="subscriber_image_topic" type="str" value="/camera/image_raw" />
    <param name="publisher_image_topic" type="str" value="/line_image" />

  </node>

  <node pkg="line_detection" name="histogram_equalization" type="histogram-equalization.py" output="screen">
    
    <param name="subscriber_image_topic" type="str" value="/backproject/line_image" />
    <param name="publisher_image_topic" type="str" value="/line_image" />

  </node>

  <node pkg="line_detection" name="brightest_pixel" type="brightest-pixel.py" output="screen">
    
    <param name="use_mono" type="bool" value="true" />
    <param name="subscriber_image_topic" type="str" value="/histogram_equalization/line_image" />
    <param name="publisher_image_topic" type="str" value="/line_image" />

  </node>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />
  
</launch>