<launch>

  <node pkg="line_detection" name="threshold" type="threshold.py" output="screen">
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>
  <node pkg="line_detection" name="hsv_filter" type="hsv_filter.py" output="screen">
    <rosparam command="load" file="$(find line_detection)/roi.yaml" />
  </node>

  <node pkg="line_detection" name="and_mask" type="and_mask.py" output="screen">
    <param name="subscriber_image_topic" type="str" value="/hsv_filter/line_image/compressed" />
    <param name="subscriber_mask_topic" type="str" value="/threshold/line_image/compressed" />
    <param name="publisher_image_topic" type="str" value="/line_image/compressed" />

  </node>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />
  
</launch>