<?xml version="1.0"?>
<launch>

  <arg name="gui" default="false" />
  <arg name="headless" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(find scipio_simulation)/worlds/igvc_final.world"/>
  </include>

<!--
  <node ns="stereo_camera" pkg="stereo_image_proc" name="stereo_image_proc" type="stereo_image_proc"/>
-->
<!-- will leave this out until new igvc robot. 
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_blw" args="0.26746 -0.17757 0.18923 3.0728 -6.245e-17 3.14 base_link back_left_wheel_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_brw" args="0.26746 0.17757 0.18923 -3.0192 5.55112e-17 -3.14 base_link back_right_wheel_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_flw" args="-0.26746 -0.17757 0.18923 3.0516 -6.245e-17 3.14 base_link front_left_wheel_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_frw" args="-0.26746 0.17757 0.18923 -3.1282 5.89806e-17 -3.14 base_link front_right_wheel_link" />
-->
  <include file="$(find scipio_2dnav)/camera_tf.launch"/>
  <include file="$(find scipio_2dnav)/move_base.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scipio_2dnav)/navigation_setup.rviz"/>
  <node name="voxel_grid_2_point_cloud" pkg="costmap_2d" type="costmap_2d_cloud">
    <remap from="voxel_grid" to="/move_base/local_costmap/obstacle_layer/voxel_grid"/>
    <remap from="voxel_marked_cloud" to="/move_base/local_costmap/obstacle_layer/marked_cloud"/>
    <remap from="voxel_unknown_cloud" to="/move_base/local_costmap/obstacle_layer/unknown_cloud"/>
  </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!--
  <param name="robot_description" textfile="$(find scipio_simulation)/sdf/scipio_simulation.sdf" />
-->
  <param name="robot_description" textfile="$(find scipio_simulation)/sdf/scipio_simulation_from_sdf.urdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model scipio_simulation"
    output="screen">
  </node>

  <!-- New configuration which uses only imu and wheel odom, no gps until Tom fixes bug -->
  <include file="$(find gazebo_config)/gazeboekf-new.launch"/>
</launch>

