<?xml version="1.0"?>
<launch>

  <arg name="gui" default="false" />
  <arg name="headless" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(find scipio_simulation)/worlds/igvc_final.world"/>
  </include>

<!--
  <node ns="stereo_camera" pkg="stereo_image_proc" name="stereo_image_proc" type="stereo_image_proc"/>
-->

  <include file="$(find scipio_2dnav)/camera_tf.launch"/>
  <include file="$(find scipio_2dnav)/move_base.launch"/>

  <node name="rviz" pkg="rviz" type="rviz"/>
  <node name="voxel_grid_2_point_cloud" pkg="costmap_2d" type="costmap_2d_cloud">
    <remap from="voxel_grid" to="/move_base/local_costmap/obstacle_layer/voxel_grid"/>
    <remap from="voxel_marked_cloud" to="/move_base/local_costmap/obstacle_layer/marked_cloud"/>
    <remap from="voxel_unknown_cloud" to="/move_base/local_costmap/obstacle_layer/unknown_cloud"/>
  </node>
<!--
  <node name="robot_tf_publisher" pkg="robot_setup_tf" type="robot_tf_publisher"/>
-->
  <param name="robot_description" textfile="$(find scipio_simulation)/sdf/scipio_simulation.sdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-sdf -param robot_description -model scipio_simulation"
    output="screen">
  </node>

  <!-- New configuration which uses only imu and wheel odom, no gps until Tom fixes bug -->
  <include file="$(find gazebo_config)/gazeboekf-new.launch"/>
</launch>

