<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
  </include>

  <node name="robot_tf_publisher" pkg="robot_setup_tf" type="robot_tf_publisher"/>

  <param name="robot_description" textfile="$(find scipio_simulation)/sdf/scipio_simulation.sdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-sdf -param robot_description -model scipio_simulation"
    output="screen">
  </node>

<!-- Commenting out temporarily to try to config
  <include file="$(find gazebo_config)/gazeboekf.launch"/>
-->

  <include file="$(find gazebo_config)/gazeboekf-new.launch"/>

</launch>

