<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find scipio_simulation)/worlds/igvc_final.world"/>
  </include>

  <node name="robot_tf_publisher" pkg="robot_setup_tf" type="robot_tf_publisher"/>

  <!-- New configuration which uses only imu and wheel odom, no gps until Tom fixes bug -->
</launch>

