<launch>

  <!-- start the driver in a camera_nodelet_manager process -->
  <arg name="camera" default="stereo_camera"/>
  <arg name="base_topic" default="$(arg camera)" />
  <arg name="manager" default="stereo_camera_nodelet_manager" />
  <arg name="nodelet" default="true"/>


  <node unless="$(arg nodelet)" pkg="camera1394stereo" type="camera1394stereo_node" name="$(arg base_topic)_node" output="screen" >
    <param name="frame_id" value="$(arg base_topic)_optical" />
    <param name="camera_info_url_left" value="" />
    <param name="camera_info_url_right" value="" />
    <remap from="stereo_camera" to="$(arg base_topic)" />
    <rosparam subst_value="true">
      video_mode: format7_mode3
      format7_color_coding: raw16
      bayer_pattern: bggr
      bayer_method: ''
      stereo_method: Interlaced
      auto_white_balance: 2 # auto
      white_balance_BU: 0.0
      white_balance_RV: 0.0
    </rosparam>
  </node>

  <!-- nodelet manager process -->
  <group if="$(arg nodelet)">
    <node  pkg="nodelet" type="nodelet" name="stereo_camera_nodelet_manager"
          args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="$(arg base_topic)_node" output="screen"
        args="load camera1394stereo/driver $(arg manager)">
      <param name="frame_id" value="$(arg base_topic)_optical" />
      <param name="camera_info_url_left" value="package://lcsr_camera_models/cameras/bumblebee/calibration/bb2_03s2c_xxxxxx03_left.ini" />
      <param name="camera_info_url_right" value="package://lcsr_camera_models/cameras/bumblebee/calibration/bb2_03s2c_xxxxxx03_right.ini" />
      <remap from="stereo_camera" to="$(arg base_topic)" />
      <rosparam subst_value="true">
        video_mode: format7_mode3
        format7_color_coding: raw16
        bayer_pattern: bggr
        #bayer_method: Bilinear
        bayer_method: ''
        stereo_method: Interlaced
        auto_white_balance: 2 # auto
        white_balance_BU: 0.0
        white_balance_RV: 0.0
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer_left"
          args="load image_proc/debayer $(arg manager)">
      <remap from="image_raw" to="$(arg base_topic)/left/image_raw" />
      <remap from="image_mono" to="$(arg base_topic)/left/image_mono" />
      <remap from="image_color" to="$(arg base_topic)/left/image_color" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer_right"
          args="load image_proc/debayer $(arg manager)">
      <remap from="image_raw" to="$(arg base_topic)/right/image_raw" />
      <remap from="image_mono" to="$(arg base_topic)/right/image_mono" />
      <remap from="image_color" to="$(arg base_topic)/right/image_color" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_rect_color_left"
          args="load image_proc/rectify $(arg manager)">
      <remap from="image_mono" to="$(arg base_topic)/left/image_color" />
      <remap from="image_rect" to="$(arg base_topic)/left/image_rect_color" />
    </node>

      <node pkg="nodelet" type="nodelet" name="image_proc_rect_color_right"
          args="load image_proc/rectify $(arg manager)">
      <remap from="image_mono" to="$(arg base_topic)/right/image_color" />
      <remap from="image_rect" to="$(arg base_topic)/right/image_rect_color" />
    </node>
  </group>

</launch>
