<launch>

  <!-- start the driver in a camera_nodelet_manager process -->
  <arg name="camera" default="stereo_camera"/>
  <arg name="base_topic" default="$(arg camera)" />
  <arg name="manager" default="stereo_camera_nodelet_manager" />

  <!-- nodelet manager process -->
  <group>
    <node pkg="nodelet" type="nodelet" name="stereo_camera_nodelet_manager"
      args="manager" output="screen"/>

    <arg name="dc_off" value="0"/>
    <arg name="dc_query" value="1"/>
    <arg name="dc_auto" value="2"/>
    <arg name="dc_manual" value="3"/>
    <arg name="dc_push" value="4"/>

    <node pkg="nodelet" type="nodelet" name="$(arg base_topic)_node_left" output="screen"
      args="load camera1394/driver $(arg manager)">
      <param name="frame_id" value="$(arg base_topic)_optical_frame" />
      <param name="camera_info_url" value="package://lcsr_camera_models/cameras/flea2stereo/calibration/fl2g_13s2c_c_left.ini" />
      <remap from="camera" to="$(arg base_topic)_left" />
      <rosparam subst_value="true">
        # camera mode
        guid: 00b09d010099d46d
        reset_on_open: true
        video_mode: 1280x960_rgb8
        frame_rate: 15.0
        iso_speed: 800
        # param modes
        auto_bleftness: $(arg dc_manual)
        auto_exposure: $(arg dc_manual)
        auto_sharpness: $(arg dc_manual)
        auto_white_balance: $(arg dc_manual)
        auto_hue: $(arg dc_manual)
        auto_saturation: $(arg dc_manual)
        auto_gamma: $(arg dc_manual)
        auto_shutter: $(arg dc_manual)
        auto_gain: $(arg dc_manual)
        # params
        brightness: 491.0
        exposure: 200.0
        sharpness: 1500.0
        white_balance_BU: 900.0
        white_balance_RV: 500.0
        hue: 2000.0
        saturation: 1000.0
        gamma: 1600.0
        shutter: 2389.0
        gain: 178.0
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="$(arg base_topic)_node_right" output="screen"
      args="load camera1394/driver $(arg manager)">
      <param name="frame_id" value="$(arg base_topic)_optical_frame" />
      <param name="camera_info_url" value="package://lcsr_camera_models/cameras/flea2stereo/calibration/fl2g_13s2c_c_right.ini" />
      <remap from="camera" to="$(arg base_topic)_right" />
      <rosparam subst_value="true">
        # camera mode
        guid: 00b09d010099d481
        reset_on_open: true
        video_mode: 1280x960_rgb8
        frame_rate: 15.0
        iso_speed: 800
        # param modes
        auto_brightness: $(arg dc_manual)
        auto_exposure: $(arg dc_manual)
        auto_sharpness: $(arg dc_manual)
        auto_white_balance: $(arg dc_manual)
        auto_hue: $(arg dc_manual)
        auto_saturation: $(arg dc_manual)
        auto_gamma: $(arg dc_manual)
        auto_shutter: $(arg dc_manual)
        auto_gain: $(arg dc_manual)
        # params
        brightness: 491.0
        exposure: 200.0
        sharpness: 1500.0
        white_balance_BU: 900.0
        white_balance_RV: 500.0
        hue: 2000.0
        saturation: 1000.0
        gamma: 1600.0
        shutter: 2389.0
        gain: 178.0
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_rect_color_left"
          args="load image_proc/rectify $(arg manager)">
      <remap from="image_mono" to="$(arg base_topic)_left/image_raw" />
      <remap from="image_rect" to="$(arg base_topic)_left/image_rect_color" />
    </node>

      <node pkg="nodelet" type="nodelet" name="image_proc_rect_color_right"
          args="load image_proc/rectify $(arg manager)">
      <remap from="image_mono" to="$(arg base_topic)_right/image_raw" />
      <remap from="image_rect" to="$(arg base_topic)_right/image_rect_color" />
    </node>
  </group>

</launch>
