<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stereo_cam">

  <link name="world"/>

  <xacro:include filename="$(find lcsr_camera_models)/cameras/bumblebee/bumblebee2.urdf.xacro"/>

  <xacro:bumblebee2_66
    parent_link="world"
    xyz="0 0 1.0"
    rpy="1.5707 0 0"
    ns="bumblebee"
    frame_prefix="bumblebee_"
    high_res="false"/>

</robot>
