<launch>

  <!-- Gazebo -->
  <include file="$(find rtt_gazebo_examples)/test/empty_world.launch">
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- Load WAM URDF -->
  <param name="robot_description" 
    command="$(find xacro)/xacro.py '$(find lcsr_camera_models)/test.urdf.xacro'" />

  <!-- Spawn the robot in Gazebo -->
  <node name="$(anon urdf_spawner)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -model stereo_camera -param robot_description"/>

</launch>
