<launch>

  <!-- nodelet manager process -->
  <node pkg="nodelet" type="nodelet" name="stereo_camera_nodelet_manager"
        args="manager" />

  <!-- camera driver nodelet -->
  <node pkg="nodelet" type="nodelet" name="stereo_camera1394_nodelet"
        args="load camera1394/driver stereo_camera_nodelet_manager" >
    <param name="video_mode" value="format7_mode3" />
    <param name="format7_color_coding" value="raw16" />
    <param name="bayer_pattern" value="grbg" />
    <param name="bayer_method" value="Simple" />
    <param name="stereo_method" value="Interlaced" />
    <param name="camera_info_url_left" value="" />
    <param name="camera_info_url_right" value="" />
  </node>

</launch>
