<launch>

    <arg name="port" default="/dev/ttyACM0"/>

    <node name="roboteq_serial" pkg="roboteq_node" type="roboteq_node" output="screen" >
        <param name="mode" value="serial" type="str" />
        <param name="device" value="$(arg port)" type="str" />
        <param name="left" value="1" type="str" />
        <param name="right" value="2" type="str" />

    </node>

    <node name="odom" pkg="odom" type="odom"/>

</launch>
