<?xml version="1.0"?>
<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_tf"           args="0 0 0 -1.570796 0 -1.570796 camera camera_optical" />
    
    <node pkg="tf" type="static_transform_publisher" name="gps_tf"           args="0 0 0 0 0 0 1 base_link gps 10" />
    <!-- TODO set these actual transform values based on real robot!!! -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_tf"         args="0 0 0.76 0 0.78539816339 0 base_link camera" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_laser"                 args="0.4014 0 0.420 0 0 0 1 base_link laser_mount_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_imu"    		args="0 0 0.52 -1.57 0 0 base_link imu" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_zed"               args="0.23 0 0.594 0 0 0 1 base_link camera_link" />
<!-- will leave this out until new igvc robot. 
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_blw" args="0.26746 -0.17757 0.18923 3.0728 -6.245e-17 3.14 base_link back_left_wheel_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_brw" args="0.26746 0.17757 0.18923 -3.0192 5.55112e-17 -3.14 base_link back_right_wheel_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_flw" args="-0.26746 -0.17757 0.18923 3.0516 -6.245e-17 3.14 base_link front_left_wheel_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_frw" args="-0.26746 0.17757 0.18923 -3.1282 5.89806e-17 -3.14 base_link front_right_wheel_link" />
-->


</launch>
