#!/usr/bin/env python
PACKAGE = "line_detection"

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator
from dynamic_reconfigure.parameter_generator_catkin import int_t

gen = ParameterGenerator()

gen.add("image_width", int_t, 0, "Width of image to shrink to (only if it's la\
rger)", 640, 5, 1920)
gen.add("image_height", int_t, 0, "Height of image to shrink to (only if it's\
larger)", 480, 5, 1080)

exit(gen.generate(PACKAGE, "line_detection", "ImageResizer"))
